/* fonts */
@font-face {
    font-family: 'ml';
    src: url('/fonts/morabba-light.ttf');
}

@font-face {
    font-family: 'mb';
    src: url('/fonts/morabba-bold.ttf');
}

@font-face {
    font-family: 'yr';
    src: url('/fonts/yekan-regular.ttf');
}